/* Estilos básicos do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Estilos do cabeçalho */
header {
    background: linear-gradient(90deg, #000, rgb(4, 153, 4));
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    margin-top: 5px;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Estilos das seções */
section {
    padding: 5rem 1rem;
    margin-top: 4rem;
}

/* Estilos da seção inicial */
#home {
    background: linear-gradient(90deg, #6f61ff, #92a2de);
    color: white;
    text-align: center;
}

#home h1 {
    font-size: 3rem;
    animation: fadeIn 2s ease-in;
}

#home p {
    font-size: 1.5rem;
    animation: fadeIn 2s ease-in 0.5s;
}

/* Estilos da seção sobre */
#about {
    background-color: #f2f2f2;
    text-align: center;
}

#about h2 {
    color: #6f61ff;
}

/* Estilos da seção portfólio */
#portfolio {
    background-color: #fff;
    text-align: center;
}

#portfolio h2 {
    color: #6f61ff;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #ff6f61;
    color: white;
    margin: 1rem;
    padding: 1rem;
    width: calc(33% - 2rem);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
}

/* Estilos da seção contato */
#contact {
    background-color: #f2f2f2;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-icons a {
    font-size: 2rem;
    color: #6f61ff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #4f41ff;
    transform: scale(1.2);
}

/* Estilos do botão voltar ao topo */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #6f61ff;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000; /* Certifica-se que o botão está acima de outros elementos */
}

#back-to-top:hover {
    background-color: #4f41ff;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.pulse {
    animation: pulse 1.2s infinite;
}
